

.add {
    max-width: 1200;
    margin: "40px auto";
    background-color: "#fff";
    border-radius: 16px;
    box-shadow: "0 2px 8px #eee";
    padding: 0;
    border: "2px solid #2563eb";
    font-Family: "sans-serif";
}

.add1 {
background-color: "#2563eb";
color: "#fff";
padding: "18px 36px 11px 36px";
font-weight: 700px;
font-size: 22px;
border-top-left-radius: 13;
border-top-right-radius: 40;
width: "fit-content";
margin-left: -2px;
}

.add-content {
    padding: "8px 28px";
    font-weight: 600;
    border: "1px solid #2563eb";
    cursor: "pointer";
    position: "relative";
}

.content1 {
    position: "relative";
    margin-top: 48px;
}

.btn {
    background: #2563eb;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 5px 13px;
    font-size: 24px;
    cursor: pointer;
}
.col {
        position: absolute;
        right: 0px;
        top: 38px;
        background: #fff;
        border: 1px solid #bbb;
        border-radius: 8px;
        box-shadow: 0 4px 16px #ddd;
        min-width: 160px;
        z-index: 10px;
}